@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');

:root {
    --bg1: #FCE4EC;
    --bg2: #B388FF;
    --panel: rgba(255, 255, 255, 0.45);
    --activePanel: rgba(255, 255, 255, 0.822);
    --accent: #FF4FA3;
    --text: #2D1B47;
    --shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
    --radius: 22px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', serif;

}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg, var(--bg1), var(--bg2));
    animation: bg 11s ease-in-out infinite;
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
}

@keyframes bg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
a {
    text-decoration: none;
    color: var(--text);
}

button {
    cursor: pointer;
}
header {
    width: 100%;
    height: 80px;
 
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(14px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: var(--shadow);
    color: var(--text);
}

nav h1 {
    margin-left: 25px;
    letter-spacing: 2px;
}

nav button {
    margin-right: 25px;
    padding: 5px 10px;
    background: transparent;
    border: none;
    font-size: 1.1rem;
    letter-spacing: 2px;
    cursor: pointer;
}

nav button:hover {
    transform: scale(1.05);

}
.scoreboardSidebar{
    width: 100vw;
    height: calc(100vh - 80px);
    background: var(--bg1);
    position: absolute;
    z-index: 10;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
    transform: translateX(100%); 
     transition: transform .6s ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
    
}
.scoreboard{
    width: 60%;
    height: 100%;
    background: white;
    margin-top: 15px;
    border-radius: var(--radius);
    
}

.scoreboardSidebar.active {
    transform: translateX(0); 

}
.scoreTable {
    width: 100%;
    border-collapse: collapse;
    border-radius: var(--radius);
    overflow: hidden;
    background: var(--panel);
    backdrop-filter: blur(12px);
    font-size: 1.2rem;
}

.scoreTable thead {
    background: var(--accent);
    color: white;
}

.scoreTable th,
.scoreTable td {
    padding: 15px 10px;
    text-align: center;
}

.scoreTable tbody tr {
    background: rgba(255, 255, 255, 0.45);
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    transition: 0.2s;
}

.scoreTable tbody tr:hover {
    background: rgba(255, 255, 255, 0.7);
    transform: scale(1.01);
}

.scoreTable td:nth-child(1) {
    width: 50px;
    font-weight: 700;
}

/* .scoreTable td:nth-child(3) {
    color: var(--accent);
    font-weight: 700;
} */


main {
    margin-top: 50px;
    width: 50%;
    height: 70%;
    /* background: white; */
    position: relative;
    display: flex;
    border-radius: 10px;

}

.players {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background: var(--panel);

}

#player1 {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

}

#player2 {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.playerInfoAndTS {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playerName {
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--text);
}

.TScore {
    margin-top: 15px;
    font-size: 4rem;
    font-weight: 300;
    color: var(--accent);
}

.CScore {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg1);
}

.scoreBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: 400;
    width: 50%;
    height: 40%;
    border-radius: var(--radius);
    background: #9f67ff;
}

.btns {
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btns button {
    width: 100%;
    height: 60px;
    padding: 10px 5px;
    border: none;
    border-radius: var(--radius);
    background: var(--bg1);

}

.btns button img {
    object-fit: contain;
    width: 60%;
    height: 50%;
}
@media (max-width:1024px) {
    main{
        width: 70%;
    }
    
}

@media (max-width: 768px) {
    body {
        overflow-y: auto;
    }

    nav h1 {
        font-size: 1.5rem;
    }

    nav button {
        font-size: 1rem;
    }
    .scoreTable{
        font-size: 1rem;
    }
    main{
        width: 100%;
    }
}
