@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');

:root {
    --bg1: #FCE4EC;
    --bg2: #B388FF;
    --panel: rgba(255, 255, 255, 0.45);
    --activePanel: rgba(255, 255, 255, 0.822);
    --accent: #FF4FA3;
    --text: #2D1B47;
    --shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
    --radius: 22px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', serif;

}

/* html{
    overflow-x: hidden;
} */

body {
    /* width: 100vw; */
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg, var(--bg1), var(--bg2));
    animation: bg 11s ease-in-out infinite;
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
}

@keyframes bg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

a {
    text-decoration: none;
    color: var(--text);
}

button {
    cursor: pointer;
}

header {
    width: 100%;
    height: 80px;

}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(14px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: var(--shadow);
    color: var(--text);
}

nav h1 {
    margin-left: 25px;
    letter-spacing: 2px;
    cursor: pointer;
}

nav button {
    margin-right: 25px;
    padding: 5px 10px;
    background: transparent;
    border: none;
    font-size: 1.1rem;
    letter-spacing: 2px;
    cursor: pointer;
}

nav button:hover {
    transform: scale(1.05);

}

.scoreboardSidebar {
    width: 100vw;
    height: 100%;
    max-height: 100vh;
    background: var(--bg1);
    position: absolute;
    z-index: 10;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
    transform: translateX(100%);
    transition: transform .6s ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;

}

.scoreboardSidebar {
    height: 130vh;

}

#backBtn {
    display: flex;
    justify-self: flex-start;
    background: var(--accent);
    color: white;
    width: 80px;
    padding: 10px 10px;
    border-radius: var(--radius);
    border: none;
    justify-content: center;
    justify-self: center;
    align-self: flex-start;
    margin-left: 25px;
}

.scoreboard {
    width: 60%;
    height: auto;
    background: white;
    margin-top: 15px;
    border-radius: var(--radius);

}

.scoreTable {
    width: 100%;
    border-collapse: collapse;
    border-radius: var(--radius);
    overflow: hidden;
    background: var(--panel);
    backdrop-filter: blur(12px);
    font-size: 1.2rem;
}

.scoreTable thead {
    background: var(--accent);
    color: white;
}

.scoreTable th,
.scoreTable td {
    padding: 15px 10px;
    text-align: center;
}

.scoreTable tbody tr {
    background: rgba(255, 255, 255, 0.45);
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    transition: 0.2s;
}

.scoreTable tbody tr:hover {
    background: rgba(255, 255, 255, 0.7);
    transform: scale(1.01);
}

.scoreTable td:nth-child(1) {
    width: 50px;
    font-weight: 700;
}

.scoreTable td:nth-child(4) {
    color: var(--accent);
    font-weight: 700;
}


main {
    margin-top: 50px;
    width: 50%;
    height: 70%;
    /* background: white; */
    position: relative;
    display: flex;
    border-radius: 10px;

}

.playerNameModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(45, 27, 71, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    opacity: 1;
    pointer-events: all;
    z-index: 50;
    overflow-y: scroll !important;

}

.playerNameModal .modalContent {
    background: linear-gradient(135deg, #FCE4EC, #B388FF);
    padding: 40px 60px;
    border-radius: 25px;
    text-align: center;
    box-shadow: var(--shadow);
    color: var(--text);

}

.playerNameModal .modalContent h2 {
    font-size: 2rem;
    margin-bottom: 25px;
    color: var(--accent);
}

.playerNameModal .modalContent input {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px 15px;
    font-size: 1.1rem;
    border-radius: var(--radius);
    border: none;
    text-align: center;
}

.playerNameModal .modalContent input:focus {
    border: 2px solid var(--bg2);
    outline: none
}

.playerNameModal .modalContent button {
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 1.2rem;
    border-radius: var(--radius);
    border: none;
    cursor: pointer;
    background: var(--bg1);
    color: var(--text);
    transition: transform 0.2s ease;
}

.playerNameModal .modalContent button:hover {
    transform: scale(1.05);
}

.settings-icon {
    position: absolute;
    top: 70px;
    right: 20px;
    font-size: 22px;
    cursor: pointer;
    z-index: 5;
    color: #333;
}


.modalOverlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .45);
    backdrop-filter: blur(3px);
    z-index: 50;
}


.settings-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 380px;
    background: linear-gradient(135deg, #FCE4EC, #B388FF);
    padding: 18px 20px;
    border-radius: 15px;
    z-index: 100;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}


.settings-modal::-webkit-scrollbar {
    width: 0;
}


.settings-modal h2 {
    text-align: center;
    margin-bottom: 18px;
    font-size: 20px;
}

.settings-modal label {
    font-size: 14px;
    margin-top: 10px;
    display: block;
    font-weight: 500;
    color: var(--text);
}


.settings-modal input,
.settings-modal select {
    width: 100%;
    padding: 9px;
    margin-top: 6px;
    border-radius: 10px;
    border: 1px solid var(--bg2);
    outline: none;
    font-size: 14px;
}

#saveSettings {
    width: 100%;
    margin-top: 18px;
    padding: 11px;
    border-radius: 12px;
    border: none;
    background: var(--accent);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.players {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background: var(--panel);

}

.active {
    background-color: var(--activePanel);
}

#player1 {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

}

#player2 {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.playerInfoAndTS {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playerName {
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--text);
}

.TScore {
    margin-top: 15px;
    font-size: 4rem;
    font-weight: 300;
    color: var(--accent);
}

.CScore {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg1);
}

.scoreBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: 400;
    width: 50%;
    height: 40%;
    border-radius: var(--radius);
    background: #9f67ff;
}

.btns {
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btns button {
    width: 100%;
    height: 60px;
    padding: 10px 5px;
    border: none;
    border-radius: var(--radius);
    background: var(--bg1);

}

.btns button img {
    object-fit: contain;
    width: 60%;
    height: 50%;
}

.winnerModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(45, 27, 71, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 9;
    overflow-y: scroll !important;
}

.winnerModal.show {
    opacity: 1;

}

.modalContent {
    background: linear-gradient(135deg, #FCE4EC, #B388FF);
    padding: 40px 60px;
    border-radius: 25px;
    text-align: center;
    box-shadow: var(--shadow);
    color: var(--text);
}

.modalContent h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: var(--accent);
}

.modalContent button {
    margin: 10px;
    padding: 10px 25px;
    font-size: 1.2rem;
    border-radius: var(--radius);
    border: none;
    cursor: pointer;
    background: var(--bg1);
    color: var(--text);
    transition: transform 0.2s ease;
}

.modalContent button:hover {
    transform: scale(1.05);
}

#home {
    position: absolute;
    left: 0;
    top: 0;
}

@media (max-width:1024px) {
    main {
        width: 70%;
    }

}

@media (max-width: 768px) {
    body {
        overflow-y: auto;
    }

    nav h1 {
        font-size: 1.5rem;
    }
    
    nav button {
        font-size: 1rem;
    }
    
    .scoreTable {
        font-size: 1rem;
    }
    
    main {
        width: 100%;
    }
    .scoreboardSidebar {
        display: none;
    }
}

@media (max-width: 480px) {
    nav {
        padding: 10px 0;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        height: 100vh;
    }


    #backBtn {
        position: absolute;
        bottom: 0;
        margin-bottom: 50px;
    }

    .settings-modal {
        width: 95%;
        padding: 15px 15px;
        max-height: 85vh;
    }

    .settings-modal h2 {
        font-size: 18px;
        margin-bottom: 12px;
    }

    #saveSettings {
        padding: 10px;
    }

    .btns {
        position: static;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 100vh !important;

    }

    .btns button {
        width: 40%;
        border-radius: var(--radius);
    }

    .players {
        padding: 15px 0;
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 80%;
        border-radius: var(--radius);

    }

    .playerInfoAndTS {
        height: auto;
    }

    .CScore {
        height: auto;
    }

    .scoreBox {
        height: auto;
        font-size: 1.2rem;
        gap: 5px;
        padding: 5px 0;
    }

    #player1 {
        border-bottom-right-radius: var(--radius);
        border-top-right-radius: var(--radius);

    }

    #player2 {
        border-bottom-left-radius: var(--radius);
        border-top-left-radius: var(--radius);

    }

    /* .scoreboardSidebar{
    height: calc(100vh - 150px);
    } */
}

@media (max-width:480px) {

    main {
        display: grid;
        width: 100%;
        gap: 25px;
        grid-template-areas:
            "newgame"
            "player1"
            "dice"
            "hold"
            "player2"
            "roll";
        /* padding: 20px 0; */
        height: auto;
        align-items: center;
    }

    #newGame {
        grid-area: newgame;
        width: 60%;
        margin: 0 auto;
    }

    #player1 {
        grid-area: player1;
        width: 80%;
        margin: 0 auto;
    }

    #diceimg {
        grid-area: dice;
        margin: 0 auto;
        width: 150px;
        height: 150px;
    }

    #rollDice {
        grid-area: roll;
        width: 60%;
        margin: 0 auto;
        /* margin-top: 50px; */
        display: none;
    }

    #player2 {
        grid-area: player2;
        width: 80%;
        margin: 0 auto;
    }

    #hold {
        grid-area: hold;
        width: 60%;
        margin: 0 auto;
        position: sticky;
        top: 0;
    }

    .btns {
        display: contents;
    }
}

@media (max-width: 340px) {

    .settings-modal input,
    .settings-modal select {
        font-size: 13px;
        padding: 8px;
    }

    #saveSettings {
        font-size: 14px;
    }
}